.container
    // border: solid 1px darkgrey
    box-shadow: 1px 1px 3px #50505040
    padding: 30px 66px

.items-list
    margin-top: 10px
    list-style: none
    padding: 0

.title
    font-family: Andalé Mono, monospace
    text-align: center
    font-size: 1.4em

