
.todo-item
    padding: 10px
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    box-shadow: 1px 1px 3px #00000031

.todo-item__text-wrapper
    flex: 1

.todo-item__text
    font-family: Verdana, Geneva, Tahoma, sans-serif
    margin: 0
    word-break: break-word
    width: 94%


