.input-wrapper
    text-align: center
    padding: 20px
    padding-bottom: 10px
    .input-field
        resize: none
        border: none
        width: 60%
        font-size: 1.1em
        font-family: Consolas
        text-align: center
        box-sizing: border-box
        border-bottom: solid 1px transparent
        &:focus-visible
            border-bottom: solid 1px grey
            outline: none
            box-sizing: border-box