.container
    width: 45%
    margin: 4em auto
    @media screen and (max-width: 1200px)
        width: 60%
    @media screen and (max-width: 1024px)
        width: 70%
    @media screen and (max-width: 900px)
        width: 80%
    @media screen and (max-width: 768px)
        width: 90%
    @media screen and (max-width: 600px)
        width: 95%
        margin: 3% auto
    @media screen and (max-width: 480px)
        margin: 2% auto